


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Satoshi', sans-serif;
  max-width: 100%;
  overflow-x: hidden !important;
}

  .hero-section-right {
    display: none;
  }
  .hero-bigtext-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
  
  h1, h2, h3  {
margin-left: 20px;
font-family: 'Satoshi';
}

h1 {
  height: 38px;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  /* identical to box height */
  
  
  color: #0B24F5;
}
h2 {

font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 43px;
}

h3 {
  width: 189px;
  height: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  
}
  
.hero-smalltext-wrapper {  
  padding: 5% 10%;
  font-size: 22px;

}

  /* Left/bottom section */
  .hero-section-left {
    display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
  }
 

  /* Profile image */
    .hero-img-wrapper {
    display: flex;
    justify-content: center;
    margin: 3em auto 2em auto;
  }

/*   Kommer göra att alla bilder blir responsive */
   .image {
    width: 100%;
    max-width: 327px;
    height: auto;
 }

  #headshot {
    border-radius: 50%;
    max-width: 150px;
    max-height: 150px;
    object-position: 50% 50%;
    
  }


   /* Social media links */

   .icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.a-container {
    display: flex;
    align-items: center;
    color: #EB5577;
    border-radius: 50%;
    cursor: pointer;
}

.a-container:hover {
    transform: scale(1.1);
    color: black;
    border: none;
}

.svg {
    overflow: visible;
    box-sizing: content-box;
}

  

/*** MAIN CONTENT (mobile) ***/

.width-container {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
}


/* FOOTER MOBILE */

.headshot-wrapper-footer {
  display: flex;
  justify-content: left;
}

  /* STYLING FOR TABLET (668 > 1024px) */
@media (min-width: 668px) and (max-width: 1024px) {

  html {
    max-width: 1023px;
}
   /* HERO SECTION TABLET*/
  /*  .hero-section-right {
    display: flex;
    background-color: #cbc3e3;
    height: 412px;
    justify-content: center;
  } */
  /* Right/top section */
  .hero-section-right {
    display: flex;
    border: 2px solid blue;
      height: 412px; /* set the height of the header container */
      background-image: url(/Assets/images/profile-hands.jpeg), url(/Assets/images/profile-skates.JPG); /* set the path to the background image */
      background-repeat: no-repeat, no-repeat; /* make sure the image is not repeated */
      background-size: cover; /* resize the image to cover the header container */
      background-position: 0% 0%, 100% 100%
    }
   
    
    
/* Left/bottom section */

.hero-section-left {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px solid red;
}

.text-section {
  margin-left: 30px;
}
.profile-image {
  align-self: flex-start;
  margin-left: 50px;
}


/* TECH SECTION - TABLET */
/* 
#tech-list {
  width: 100%;
  max-width: 500px;
  height: auto;
} */
}
