* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.background-image {
    max-width: 100%;
    height: auto;

    
}
.right-top-container {
    height: 412px;
    width: 496px;
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

border: 2px solid red;
}
    

.profile-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 29px;
    position: absolute;
    width: 496px;
    height: 400px;
    left: 0px;
/*     top: 0px;  */  
    background-color: blue;
}
/* 
.profile-image {
width: 164px;
height: 164px;
} */
.profile-image {
    border-radius: 50%;
    max-width: 164px;
    max-height: 164px;
   /*  max-width: 150px; */
    aspect-ratio: 1 / 1;
    /* object-fit: cover; */
    object-position: 90% 10%;
    
  }
/* flex: none;
order: 0;
flex-grow: 0; */


.profile-text-container {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
overflow: hidden;

/* width: 303px;
height: 113px; */ 
}

.satoshi-general {
    position: absolute;
width: 500px;
height: 145px;
left: 40px;
top: 196px;

font-family: 'EB Garamond';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 29px;

color: #000000;

}



